@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  font-family: "微软雅黑"; }

a {
  text-decoration: none; }

body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; }

header {
  width: 100%;
  height: 0.5rem;
  background-image: url(../img/bg1_1.png);
  background-size: 100% 100%; }
  header .headerbox {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 0.5rem;
    font-size: 0.16rem;
    color: white;
    line-height: 0.5rem; }
    header .headerbox a {
      color: white; }
    header .headerbox img {
      width: 0.15rem;
      height: 0.14rem; }
    header .headerbox .t3 {
      width: 0.26rem;
      height: 0.26rem; }

section {
  width: 100%; }
  section div {
    width: 100%; }
    section div img {
      width: 100%;
      height: 100%; }

footer {
  width: 100%;
  height: 0.56rem;
  background-color: #fdf0d2; }
  footer div {
    display: flex;
    justify-content: space-around; }
    footer div button {
      margin-top: 1.4%;
      width: 40%;
      height: 0.3rem;
      font-size: 0.13rem;
      color: white;
      border: 0;
      border-radius: 6%; }
