*{padding:0px;margin:0px;font-family:"微软雅黑";}
a{text-decoration:none;}
body{
	background:white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.headertopbg{
		 width:100%;
		 height:0.5rem;
		 background-image:url(../img/bg1_1.png);
		 background-repeat:no-repeat;
		 background-size:100% 100%;
		 position:fixed;
		 top:0;
		 z-index:1;
		 .on{
			 width:100%;
			 display:flex;
			 justify-content:space-between;
			 img{
				 margin-top:0.05rem;
				 margin-left:0.1rem;
				 width:0.36rem;
				 height:0.36rem;
				 display:none;
			 }
			 span{
				 position:absolute;
				 top:0.1rem;
				 right:0.1rem;
			 }
		 }
}
 header{
	 background-color:#f0f0f0;
	 height:1.8rem;
	 width:100%;
	 margin-top:0.5rem;
	 .headertopbgtwo{
		 width:100%;
		 height:0.6rem;
		 background-image:url(../img/bg1_1.png);
		 background-repeat:no-repeat;
		 background-size:100% 100%;
		 border-radius:0 0 50% 50%;
		 margin-top:-0.05rem;
	  }
	 .headerbody{
		 width:80%;
		 height:1.5rem;
		 background-color:#2e2e2e;
		 border-radius:5% 5%;
		 margin:auto;
		 position:relative;
		 top:-0.4rem;
		 .headerbodytop{
			 width:100%;
			 height:78%;
			 background-color:#ffffff;
			  border-radius:5% 5%;
			  .hbtt{
				  img{
					  position:relative;
					  top:-0.16rem;
					  left:0.2rem;
				  }
				  span{
					  font-size:0.15rem;
					  font-weight:bolder;
					  margin-left:0.4rem;
				  }
			  }
			  .hbtb{
				  width:90%;
				  margin:auto;
				  display:flex;
				  justify-content:space-between;
				  ul{
					  list-style:none;
					  text-align:center;
					  li{
						  font-weight:600;
						  a{text-decoration: none;color:#b5b5b5;}
						  span{
							  font-size:0.13rem;
						  }
					  }
				  }
			  }
		 }
		.headerbodybottom{
			width:100%;
			ul{
				list-style:none;
				display:flex;
				justify-content:space-between;
				li:nth-child(1){
					margin-top:0.06rem;
					margin-left:0.1rem;
					img{
						width:0.2rem;
						height:0.2rem;
					}
					span{
						font-size:0.13rem;
						color:#aea174;
						margin-left:0.06rem;
					}
				}
				li:nth-child(2){
					margin-top:0.06rem;
					margin-right:0.1rem;
					span{
						
						font-size:0.11rem;
						color:#d5c9ab;
						a{
							text-decoration:none;
							color:#d5c9ab;
						}
					}
				}
			}
		}
	}
 }
 section{
	 background-color:white;
	 .order{
		width:100%;
		height:1.3rem;
		border-bottom:0.08rem solid #f7f7f7;
		.ordertop{
			 display:flex;
			 justify-content:space-between;
			 width:100%;
			 height:0.3rem;
			 line-height:0.3rem;
			 margin:auto;
			 border-bottom:0.02rem solid #f7f7f7;
			 b{
				 margin-left:0.1rem;
			 }
			 span{
				 color:#999999;
				 font-size:0.12rem;
				  margin-right:0.1rem;
			 }
			 a{
				  color:#999999;
			 }
		 }
		.orderbottom{
			display:flex;
			justify-content:space-around;
			ul{
				margin-top:0.2rem;
				list-style: none;
				text-align:center;
				li{
					margin-top:0.06rem;
					font-size:0.12rem;
					a{
						color:black;
					}
				}
			}
		}
	 }
	 .serve{
		 width:100%;
		 height:1.9rem;
		 .servetop{
			width:100%;
			height:0.3rem;
			border-bottom:0.02rem solid #f7f7f7;
			b{
			 	margin-left:0.1rem;
			 }
		 }
		 .servebottom{
		 	display:flex;
		 	justify-content:space-around;
		 	ul{
		 		margin-top:0.06rem;
		 		list-style: none;
		 		text-align:center;
		 		li{
		 			margin-top:0.06rem;
		 			font-size:0.12rem;
					a{
						color:black;
					}
		 		}
		 	}
		 }
	 }
	.tj1{
		width:100%;
		height:1rem;
		img{
			width:100%;
			height:0.6rem;
		}
	}
	 //货
	 .HBottom{
	 	width:96%;
	 	margin:auto;
	 	height:14.96rem;
	 	text-align:center;
	 	.box{
	 		width:100%;
	 		height:1.8rem;
	 		display:flex;
	 		justify-content: space-between;
	 		ul{
	 			list-style:none;
	 			width:46%;
	 			li{
	 				img{
	 					width:1rem;
	 					height:1rem;
	 				}
	 				p{
	 					font-size:0.12rem;
	 					color:#333333;
	 					height:0.32rem;
	 					overflow:hidden;
	 					word-wrap: normal;
	 					text-overflow: ellipsis;
	 					text-align: justify;
	 					display: -webkit-box;
	 					-webkit-line-clamp: 2;
	 					-webkit-box-orient: vertical;
	 				}
	 				span{
	 					color:#e73c3c;
	 					font-size:0.16rem;
	 				}
	 				del{
	 					color:#999999;
	 					font-size:0.12rem;
	 				}
	 				a{
	 					text-decoration:none;
	 					color:#999999;
	 					span{
	 						color:#999999;
	 						font-size:0.12rem;
	 					}
	 				}
	 			}
	 			li:nth-child(2){
	 				margin-top:0.2rem;
	 			}
	 			li:nth-child(3){
	 				display:flex;
	 				justify-content:space-around;
	 			}
	 		}
	 	}
	 }
 }
 //尾部
 footer{
 		width:100%;
 		height:0.45rem;
 		position:fixed;
 		bottom:0;
 		background-color:white;
 		z-index:1;
 		.footerbox{
 			padding-top:0.05rem;
 			display:flex;
 			justify-content:space-around;
 			
 			ul{
 				list-style:none;
 				text-align: center;
 				li{
 					img{
 						width:0.17rem;
 						height:0.17rem;
 					}
 				}
 			}
 		}
 	
 }