*{padding:0px;margin:0px;font-family:"微软雅黑";}
a{text-decoration:none;}
body{
	background:white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
header{
	width:100%;
	height:0.5rem;
	background-image:url(../img/bg1_1.png);
	background-size:100% 100%;
	.headerbox{
		width:90%;
		margin:auto;
		display:flex;
		justify-content:space-between;
		height:0.5rem;
		font-size:0.16rem;
		color:white;
		line-height:0.5rem;
		a{
			color:white;
		}
		img{
			width:0.14rem;
			height:0.14rem;
		}
	}
}
input{width:0.25rem;height:0.25rem;}
section{
	width:100%;
	display:flex;
	height:0.6rem;
	justify-content: space-between;
	.sleft{
		width:20%;
		text-align:center;
		line-height:0.8rem;
		
	}
	.sright{
		width:80%;
		display:flex;
		justify-content: space-between;
		p{
			line-height:0.6rem;
		}
		img{
			width:0.3rem;
			height:0.3rem;
			vertical-align:middle;
			}
		a{
			font-size:0.13rem;
			text-decoration: none;
			color:black;
			margin-right:0.1rem;
		}
		a:hover{
			text-decoration: none;
			color:orangered;
		}
	}
}
footer{
	width:100%;
	background-color:white;
	.sambox{
		margin-top:0.1rem;
		width:100%;
		height:1.3rem;
		background-color: #f5f5f5;
		display:flex;
		justify-content: space-between;
		.samleft{
			width:20%;
			line-height:1.4rem;
			text-align: center;
		}
		.samright{
			width:80%;
			.HBottom{
				width:100%;
				height:1.4rem;
				.box{
					margin-top:0.2rem;
					ul{
						width:96%;
						margin:auto;
						list-style:none;
						li{
							font-size:0.13rem;
							display: flex;
							justify-content:space-between;
							margin-top:0.04rem;
							padding-bottom:0.03rem;
							img{
								width:26%;
								height:1rem;
							}
							div{
								width:70%;
								p{
									width:92%;
									font-size:0.13rem;
									color:#333333;
									height:0.36rem;
									overflow:hidden;
									word-wrap: normal;
									text-overflow: ellipsis;
									text-align: justify;
									display: -webkit-box;
									-webkit-line-clamp: 2;
									-webkit-box-orient: vertical;
								}
								ul{
									border:0;
									display: flex;
									justify-content:space-between;
									li{
										color:#b5b5b5;
										border:0;
										span{
											color:#e73c3c;
											font-size:0.18rem;
										}
										del{
											color:#999999;
											margin-top:0.05rem;									font-size:0.12rem;
										}
									}
								}
							}
						}
						li::nth-child(2){
							
						}
						
					}
				}
			}
		}
	}

}
.bottom{
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	z-index:1;
	display:flex;
	height:0.6rem;
	justify-content: space-between;
	background-color:white;
	.sleft{
		width:20%;
		text-align:center;
		line-height:0.8rem;
		
	}
	.sright{
		width:80%;
		display:flex;
		justify-content: space-between;
		p{
			line-height:0.6rem;
		}
		img{
			width:0.3rem;
			height:0.3rem;
			vertical-align:middle;
			}
		a{
			font-size:0.13rem;
			text-decoration: none;
			color:black;
			margin-right:0.1rem;
		}
		a:hover{
			text-decoration: none;
			color:orangered;
		}
	}
}